// icons de github, linkdin, CV
@media screen and(max-width: 1024px){
    .info-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .icon-expand::before {
        background: #C82647;
        box-shadow: inset 0 0 0 60px #727275 !important;
    }
}


@media screen and(max-width: 767px){

    .icon-expand::before {
        background: #C82647;
        box-shadow: inset 0 0 0 60px #98989c !important;
    }

    #index{
        margin-bottom: 0px;
    }
    section.home{
        padding-left: 0px;
        margin-top: 140px;
        text-align: center;
    }
    .home-title{
        font-size: 1.6em;
    }
    .home-text, .home-text-dev{
        font-size: 1em;
    }
    .presentation{
        background-color: transparent !important;
        margin-top: -70px;
        align-content: center;
    }
    .presentation img {
        display: none;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }
    .marge{
       padding-left: 0px;
    }
    .aboutMy{
        padding-bottom: 40px;
    }
    .aboutMy p{
        padding: 0px 40px;
    }

    .portfolio-title{
        padding-top: 30px;
    }
}
