@media screen and(max-width: 767px){
    section.home{
        padding-left: 0px;
        margin-top: 140px;
        text-align: center;
    }
    .home-title{
        font-size: 1.6em;
    }
    .home-text, .home-text-dev{
        font-size: 1em;
    }
    
    .presentation{
        margin-top: -70px;
        background-color:transparent !important;
        border-left: none !important;
        align-content: center;
    }
    .presentation img {
        display: none;
    }

    *, ::after, ::before {
        box-sizing:border-box;
    }
    .marge{
       padding-left: 0px;
    }
    .aboutMy{
        padding-bottom: 40px;
        background-color: rgba(0,0,0,.2);
        -webkit-background-color: rgba(0,0,0,.2);
        // -apple-background-color: rgba(0,0,0,.2);
    }
    .aboutMy p{
        padding: 0px 40px;
    }

}

// icons de github, linkdin, CV
@media screen and(max-width: 1024px){
    .info-items {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
    }
    
}
