
#competences{
    padding-top: 45px;
}
.containerClip{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right,#a8a5a5,#485563);
    clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
}

.competences-bgcolor{
    background-color: #f6f6f6;
}

.containerClip-title{
    padding: 45px 0px 45px 0px;
    text-align: center;
    color: #2e8a8a;
}
.competencesTextColor{
    color: white;
}

.htmlTitleColor{
    color: #78d3ca;
}

.cssTitleColor{
    color: #4dd0e1;
}

.bootstrapTitleColor{
    color: #eb9532; 
}
.jsTitleColor{
    color: #8cc63f; 
}
.vueTitleColor{
    color: #f36c23; 
}

.nodeTitleColor{
    color: #00b8d4; 
}
.mongoTitleColor{
    color: #00c853; 
}
.mysqlTitleColor{
    color: #afb42b; 
}

.ubuntuTitleColor{
    color: #f36c23; 
}