#email{
    background-image: linear-gradient(to right,#ccc5c5,#59595c);
    min-height: 15vh;
    margin-bottom: 42px;
}

.formContactTitel{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
}

//section restons en contact (artur.karapetyan@outlook.fr)
.btn-shine{
    padding-bottom: 50px;
    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 1.4em;
    text-decoration: none;
    white-space: nowrap;
}