body {
    overflow-x: hidden; 
}

header{
    min-height: 100vh;
    background-image: url('/img/main.jpg');
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 2px dashed #f1f1f1;
    margin-bottom: 70px;
}

header .row{
    min-height: 0vh;
}
.home{
    text-align: center;
    margin-top: 280px;
    padding-left: 50px;
}
.focus-in-contract {
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.home-title{
    font-size: 3em;
    padding-bottom: 80px;
}

.home-title, .home-text{
    color: white;
}

.home-text-dev{
    color: rgb(174, 221, 79);
}

.home-text, .home-text-dev{
    font-size: 1.6em;
    font-weight: 600;
}
.marge{
    padding-right: 0px;
}
.presentation{
    min-height: 100vh;
    border-left: 2px dashed #f1f1f1;
    color: white;
}
.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px 50px 0px;
}
.profile-photo img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
    border: 4px dotted rgb(133, 130, 130);
}

.aboutMy{
    padding: 20px;
}

