body {
    overflow-x: hidden; 
}

header{
    min-height: 100vh;
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 2px dashed #f1f1f1;
    margin-bottom: 70px;
}

header .row{
    min-height: 0vh;
}

#index{
    margin-bottom: 0px;
}

.home{
    text-align: center;
    margin-top: 280px;
    padding-left: 50px;
}
.focus-in-contract {
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.home-title{
    font-size: 3em;
    padding-bottom: 80px;
}

.home-title, .home-text{
    color: white;
}

.home-text-dev{
    color: rgb(206, 243, 131);
}

// Pour l'animation de "Développeur Web
.line-1{
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.home-text, .home-text-dev{
    font-size: 1.6em;
    font-weight: 600;
}

//icons de github, linkdin, CV, formulaire de contact
.info{
    padding-top: 50px;
    left: 0;
}

.info-items a{
   text-decoration: none;
}

.infoIconContainter{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .icon {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    overflow: hidden;
  }
///
.marge{
    padding-right: 0px;
}
.presentation{
    min-height: 100vh;
    background-color: rgba(83, 82, 82, 0.1);
    color: white;
}
.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px 50px 0px;
}
.profile-photo img {
    border-radius: 100%;
    width: 140px;
    height: 140px;
    border: 4px dotted rgb(133, 130, 130);
}
.aboutMy{
    padding: 20px;
    font-size: 1.2em;
    font-weight: 400;
}
