.nav-link{
    transition: all 0.6s ease-out;
}
.nav-item a:hover, .nav-item:focus{
  color: rgb(190, 214, 154);
  font-size: 1.2em;
}

// index.html/ Bienvenue sur mon portfolio
@-webkit-keyframes focus-in-contract {
  0% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
  }
  100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

//animation "index.html/Développeur web"

.anim-typewriter{
  animation: typewriter 4s steps(44) 3s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(10, 1, 1, 0.75);}
  to{border-right-color: transparent;}
}


//Pour l'animation bouton "voir le ghithub

.center-btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.center-btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #008fb3;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.center-btn:hover {
  transition: 1s ease-in-out;
  background: #d0dfec;
}

.center-btn:hover svg {
  stroke-dashoffset: -480;
}

// btn formulair de contact "Envoyer"

.btnForm {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btnForm:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #73abb7;
  border-radius: 10rem;
  z-index: -2;
}
.btnForm:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.btnForm:hover:before {
  width: 100%;
}

//icons de github, linkdin, CV, formulaire de contact

.icon::before, .icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 30px;
}
.icon i {
  position: relative;
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 15px;
  transition: all 0.25s ease;
}
//icon Linkedin
.icon-fill::before {
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #16A085;
}
.icon-fill:hover::before {
  box-shadow: inset 0 0 0 60px #16A085;
}
//icon Github
.icon-enter::after {
  box-shadow: inset 0 0 0 1px #EB9532;
}
.icon-enter::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 60px #EB9532;
}
.icon-enter:hover::before {
  margin-left: 0;
}
//icon téléchargement
.icon-expand::after {
  box-shadow: inset 0 0 0 1px #C82647;
}
.icon-expand::before {
  background: #C82647;
  box-shadow: inset 0 0 0 60px #59595c;
}
.icon-expand:hover::before {
  box-shadow: inset 0 0 0 1px #2d2c3e;
}
//icon envoie le formulaire
.icon-collapse::before {
  border-radius: 0;
}
.icon-collapse:hover::before {
  box-shadow: inset 0 30px 0 0 #8CC63F, inset 0 -30px 0 0 #8CC63F;
}
.icon-collapse::after {
  box-shadow: inset 0 0 0 1px #8CC63F;
}
//icon Codepen
.icon-rotate{
  box-shadow: inset 0 0 0 1px #EC7063;
  &::after, &::before{
		border: 0px solid transparent;
  }
  &:hover::before{
		transition:
    border-top-width 0.3s ease,
    border-top-color 0.3s ease;
		border-width: 64px;
		border-top-color: #EC7063;
	}
	&:hover::after{
		transition:
    border-left-width 0.3s ease,
    border-left-color 0.3s ease;
		border-width: 64px;
		border-left-color: #EC7063;
	}
	&:hover{
		transition: background 0.001s ease 0.3s;
		background: #EC7063;
	}
  i{
		z-index: 1;
	}
}

//section restons en contact (artur.karapetyan@outlook.fr)
@keyframes shine{
  0% {
    background-position: 0px;

  }
  60%{

    background-position: 100px;
  }
  80%{

    background-position: 300px;
  }
  100%{

    background-position: 450px;
  }
}